@using web.Models
@{
    ViewData["Title"] = "Produtos";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Produtos</h1>
</div>

<hr>

<section>
  <form action="/produtos/cadastrar" method="post">
  <div class="input-group mb-3">
  <span class="input-group-text bg-dark" id="basic-addon1"></span>
  <input type="text" class="form-control"  aria-label="NomeProduto" aria-describedby="basic-addon1" name="nome">
</div>

<div class="input-group mb-3">
  <span class="input-group-text text-white bg-dark">Descrição Do Produto</span>
  <textarea class="form-control" aria-label="Descricao" name="descricao"></textarea>
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control"  aria-label="entrada" aria-describedby="basic-addon2" name="entrada">
  <span class="input-group-text text-white bg-dark" id="basic-addon2">Data de entrada do produto</span>
</div>

<div class="mb-3">
  <div class="input-group">
    <span class="input-group-text text-white bg-dark" id="basic-addon3">Data de validade do produto</span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="validade">
  </div>
</div>

<div class="input-group mb-3">
  <span class="input-group-text text-white bg-dark">Quantidade do Estoque</span>
  <input type="text" class="form-control"  name="quantidade">
</div> 

<div class="input-group mb-3">
<button type="submit" class="btn btn-dark">Enviar</button>
</div>
</form>
</section>

<hr>
<section>
  <table class="table">
  <thead class = "text-white bg-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Entrada</th>
      <th scope="col">Validade</th>
      <th scope="col">Quantidade</th>
      <th style="width: 30px;" scope="col"></th>
      <th style="width: 30px;" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (Produtos produto in ViewBag.produtos)
    {
      <tr>
        <th scope="row">@produto.Id</th>
        <td>@produto.Nome</td>
        <td>@produto.Descricao</td>
        <td>@produto.Entrada</td>
        <td>@produto.Validade</td>
        <td>@produto.Quantidade</td>
        <td><a href="/produtos/@produto.Id/editar" class="btn text-white btn-info">Editar</a></td>
        <td><a href="/produtos/@produto.Id/excluir" class="btn btn-danger">Excluir</a></td>
      </tr>
      
    }
  </tbody>
</table>
</section>
